body {
    display: flex;
    flex-direction: column;
    margin: 0px;
    min-height: 100vh;
	background: rgb(204,204,204);   
    font-family: TimesNewRoman, "Times New Roman", Times, Baskerville, Georgia;  
}

header {
    background-color: rgb(255, 255, 255);
    flex: 0 1 5vh;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

main {
    background-color: #eff0f4;
    flex: 1;
    overflow-y: auto;
    display: flex;
    justify-content: space-between;
}

#image-viewer-container{
    flex: 0 1 45vw;
    overflow: auto;
}

#scan-container {
    width: 100%;
    height: 990px;
    overflow: auto;
    cursor: grab;
}

#scan {
    width: 100%;
    height: auto;
    margin-bottom: 980px;
}

#editors-container {
    flex: 1;
    display: flex;
}

#image-viewer-container button, #editors-container button  {
    font-family: "Font Awesome 5 Free";
    font-weight: 900;                
}

#search-string {
    width: 300px;
}

#section-selector-container {
    display: inline-block;
}

.section-selector-button {
    position: absolute;
    left: -9999em;
    top: -9999em;
}

.section-selector-button + label {
    float: left;
    padding: 1px 5px;
    cursor: pointer;
    border: 1px solid #32215e;
    margin-right: -1px;
    color: #fff;
    background-color: #8c71d0;
}

.section-selector-button + label:first-of-type {
    border-radius: 5px 0 0 5px;
}

.section-selector-button + label:last-of-type {
    border-radius: 0 5px 5px 0;
}

.section-selector-button:checked + label {
    background-color: #38158f;
}

#metadata-editor {
    --sc-width: 48vw;
    --sc-height: 700px;
    padding-top: 25px;    
}

#data-editor {
    --sc-width: 48vw;
    --sc-height: 700px;
    padding-top: 45px;
    display: none;
}

label[for = 'volume-selector'], #volume-selector {
    display: none;
}

.fa-button {
    border: none;
    background-color: transparent;
    outline: none; 
}
